<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ComicBox</title>
    <script src="/steal/steal.js?comicbox,development" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <div id="container">
      <header></header>
      <div id="main"></div>
      <footer></footer>
    </div>
  </body>
</html>