<% for(var i = 0; i < comics.length; i++){ %>
<div class="comic" data-comic-id="<%= comics[i].id %>">
  <% for(var j = 0; j < 5; j++){ %>
    <div class="page page-<%= j + 1 %>"><img src="<%= comics[i].url + "/" + comics[i].pages[j] %>" /></div>
  <% } %>
  <h2><%= comics[i].name %></h2>
</div>
<% } %>
<div class="clear"></div>